/* Styles de base */
* {
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: 0;
    background: transparent;
}
html {
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
    font-weight: 100;
}
body {
    font-size: 1.2rem;
    line-height: 1.5;

    margin: auto;

    text-decoration: none;

    color: rgb(51, 51, 51);
    background: rgb(244, 244, 244);

    height: 100%;
    /*display: none;*/
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

header {
    padding: 1em;
    z-index: 20;
    width: calc(100% - 2em);
    background: rgb(244, 244, 244);
    position: fixed;
}
header a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
header a.logo {
    font-weight: bold;
    float: right;
    display: block;
}
header nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;

    clear: both;
    height: 0;
    transition: height .4s ease;
    visibility: hidden;
}
header nav ul li a {
    padding: 20px;
    display: block;
    border-bottom: 1px solid rgba(51, 51, 51, 0.9);
}
header nav ul li a:hover {
    color: rgba(51, 51, 51, 0.8);
}
header .menu-icon {
    position: relative;
    float: left;
    padding: 11px;
    cursor: pointer;
}
header .menu-icon .nav-icon {
    background: rgba(51, 51, 51, 0.9);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .4s ease;
}
header .menu-icon .nav-icon:before {
    content: "";
    background: rgba(51, 51, 51, 0.9);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    transition: all .4s ease;
}
header .menu-icon .nav-icon:after {
    content: "";
    background: rgba(51, 51, 51, 0.9);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    transition: all .4s ease;
}
header .menu-btn {
    display: none;
}
header .menu-btn:checked ~ nav ul {
    visibility: visible;
    height: 100vh;
    overflow: hidden;
}
header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

main {
    background: url("https://images.pexels.com/photos/179943/pexels-photo-179943.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    height: 100vh;
    width: 100vm;
}


/*Footer*/
footer .footer-wrapper {
    background: rgb(244, 244, 244);
    padding: 30px 0 30px 0;
}
footer .footer-wrapper h2, footer .footer-wrapper h3 {
    padding-bottom: .6em;
}
footer .footer-wrapper p, footer .footer-wrapper a {
    font-size: .7em;
    color: rgba(51, 51, 51, .6);
}
footer .footer-wrapper .global {
    padding: 30px;
}
hr {
    background: rgba(51, 51, 51, .6);
    width: calc(100% - 60px);
    border: none;
    height: 1px;
    margin: auto;
}
footer .terms {
    font-size: .7em;
    color: rgba(51, 51, 51, .6);
    padding: 0 30px 30px 30px;
}
footer .terms .other-stuff ul li {
    display: inline-block;
    padding-right: 10px;
}
footer .terms .other-stuff ul li a {
    color: rgba(51, 51, 51, .9);
}
footer .footer-wrapper .inner input {
    width: calc(100% - 2em);
    border: 1px solid rgba(51, 51, 51, .6);
    color: rgba(51, 51, 51, .6);
    margin-bottom: 1em;
    border-radius: 5px;
    padding: .4em;
}
footer .footer-wrapper .inner button {
    padding: .4em;
    border: 1px solid rgba(51, 51, 51, .6);
    color: rgba(51, 51, 51, .6);
    border-radius: 5px;
}
footer .footer-wrapper .social-media a {
    padding-right: 35px;
    font-size: 30px;
}




@media only screen and (min-width: 760px) {
    html {
        font-size: 18px;
    }

    header {
    position: fixed;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content:space-between;
    width: calc(100% - 2em);
    background: rgba(0, 0, 0, .7);
}
    header a {
        text-decoration: none;
        color: rgb(51, 51, 51);
    }
    header a.logo {
        font-weight: bold;
        clear: both;
    }
    header nav ul {
        display: flex;
        justify-content: space-around;
        max-height: none;
        visibility: visible;
    }
    header nav ul li a {
        padding: 1em;
        border-bottom: 0;
        display: inline;
    }
    header .menu-icon .nav-icon {
        display: none;
    }


    /*Footer*/
    footer .footer-wrapper {
        background: rgb(244, 244, 244);
        width: 70vw;
        margin: auto;

        display: grid;
        grid-template-columns: 3fr 2fr 2fr 3fr;
        grid-gap: 10px;
        padding: 30px 0 30px 0;
    }

    footer .footer-wrapper h2, footer .footer-wrapper h3 {
        padding-bottom: .6em;
    }
    footer .footer-wrapper p, footer .footer-wrapper a {
        font-size: .7em;
        color: rgba(51, 51, 51, .6);
    }
    footer .footer-wrapper .global {
        padding: 30px;
    }
    hr {
        display: none;
    }
    footer .terms {
        font-size: .7em;
        color: rgba(51, 51, 51, .6);
        padding: 0 30px 30px 30px;
    }
    footer .terms .other-stuff ul li {
        display: inline-block;
        padding-right: 10px;
    }
    footer .terms .other-stuff ul li a {
        color: rgba(51, 51, 51, .9);
    }
    footer .footer-wrapper .inner input {
        width: calc(100% - 2em);
        border: 1px solid rgba(51, 51, 51, .6);
        color: rgba(51, 51, 51, .6);
        margin-bottom: 1em;
        border-radius: 5px;
        padding: .4em;
    }
    footer .footer-wrapper .inner button {
        padding: .4em;
        border: 1px solid rgba(51, 51, 51, .6);
        color: rgba(51, 51, 51, .6);
        border-radius: 5px;
    }
    footer .footer-wrapper .social-media a {
        padding-right: 10px;
        font-size: 20px;
    }

}
@media only screen and (min-width: 1444px) {
    header {
        background: none;
    }
    .container {
        grid-template-columns: 70% auto;
        grid-template-rows: 60% auto;
        grid-template-areas:
                "main featured"
                "main subscribe";
        height: 100vh;
    }
    section.main {
        grid-area: main;
    }
    section {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
    }
}
@media only screen and (min-width: 1800px) {
    html {
        font-size: 21px;
    }
}




