/* Styles de base */
* {
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: 0;
    background: transparent;
}
html {
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
    font-weight: 100;
}
body {
    font-size: 1.2rem;
    line-height: 1.5;

    margin: auto;

    text-decoration: none;

    color: rgb(51, 51, 51);
    background: rgba(209, 194, 183, 0.5);

    background: url("https://images.pexels.com/photos/179943/pexels-photo-179943.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;

    height: 100vh;
    /*display: none;*/
}


header {
    padding: 1em;
    z-index: 20;
    width: calc(100% - 2em);
    background: rgb(244, 244, 244);
    position: fixed;
}
header a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
header a.logo {
    font-weight: bold;
    float: right;
    display: block;
}
header nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;

    clear: both;
    height: 0;
    transition: height .4s ease;
    visibility: hidden;
}
header nav ul li a {
    padding: 20px;
    display: block;
    border-bottom: 1px solid rgba(51, 51, 51, 0.9);
}

header nav ul li a:hover {
    color: rgba(51, 51, 51, 0.8);
}
header .menu-icon {
    position: relative;
    float: left;
    padding: 11px;
    cursor: pointer;
}
header .menu-icon .nav-icon {
    background: rgba(51, 51, 51, 0.9);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .4s ease;
}
header .menu-icon .nav-icon:before {
    content: "";
    background: rgba(51, 51, 51, 0.9);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    transition: all .4s ease;
}
header .menu-icon .nav-icon:after {
    content: "";
    background: rgba(51, 51, 51, 0.9);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    transition: all .4s ease;
}
header .menu-btn {
    display: none;
}
header .menu-btn:checked ~ nav ul {
    visibility: visible;
    height: 100vh;
    overflow: hidden;
}
header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

main {
    padding: .8em;
}
.container{
    max-width: 1000px;
    margin-top: 3.5em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px 0 rgba(51, 51, 51, .7);
}
.container ul {
    list-style: none;
    padding: 0;
}
.container .info {
    background: rgb(244, 244, 244);
    text-align: center;
}
.container .contact {
    padding: 2em;
}
.container .contact form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.container .contact form label {
    display: block;
}
.container .contact form p {
    margin: 0;
}
.container .contact form button, .container .contact form input, .container .contact form textarea {
    width: 100%;
}
.container .contact form input, .container .contact form textarea {
    background: rgba(209, 194, 183, .5);
    padding: .7em;
    border-radius: 5px;
    border: 0;
    font-size: .9rem;
}
.container .contact form button {
    background: rgba(209, 194, 183, .5);
    padding: 1em;
    border: none;
    border-radius: 5px;
}
.container .contact form button:hover {
    background: rgba(209, 194, 183, 1);
    padding: 1em;
    border: none;
    border-radius: 5px;
    transition: background-color 2s ease-out;
}


@media only screen and (min-width: 760px) {
    html {
        font-size: 18px;
    }

    header {
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content:space-between;
    width: calc(100% - 2em);
    background: rgb(244, 244, 244);
}
    header a {
        text-decoration: none;
        color: rgb(51, 51, 51);
    }
    header a.logo {
        font-weight: bold;
        clear: both;
    }
    header nav ul {
        display: flex;
        justify-content: space-around;
        max-height: none;
        visibility: visible;
    }
    header nav ul li a {
        padding: 1em;
        border-bottom: 0;
        display: inline;
    }
    header .menu-icon .nav-icon {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: 2em;
    }
    .container > * {
        padding: 3em;
    }
    .container .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .container .contact {
        padding: 2em;
    }
    .container .contact form input, .container .contact form textarea {
        background: rgb(244, 244, 244);
        border-radius: 5px;
        border: 0;
        font-size: .9rem;
    }
}
@media only screen and (min-width: 1444px) {
    header {
        background: none;
    }
}
@media only screen and (min-width: 1800px) {
    html {
        font-size: 21px;
    }
}



