/* Styles de base */
*
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: 0;
    background: transparent;
}
html
{
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
    font-weight: 100;
}
body
{
    font-size: 1.2rem;
    line-height: 1.5;

    height: 100vh;
    margin: auto;

    text-decoration: none;

    color: rgb(51, 51, 51);
    background: rgb(244, 244, 244);
    /*display: none;*/
}
a
{
    text-decoration: none;
}
ul
{
    list-style-type: none;
}

header
{
    position: fixed;
    z-index: 20;

    width: calc(100% - 2em);
    padding: 1em;

    background: rgb(244, 244, 244);
}
header a
{
    text-decoration: none;

    color: rgb(51, 51, 51);
}
header a.logo
{
    font-weight: bold;

    display: block;
    float: right;
}
header nav ul
{
    visibility: hidden;
    clear: both;

    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;

    list-style-type: none;

    transition: height .4s ease;
}
header nav ul li a
{
    display: block;

    padding: 20px;

    border-bottom: 1px solid rgba(51, 51, 51, .9);
}

header nav ul li a:hover
{
    color: rgba(51, 51, 51, .8);
}
header .menu-icon
{
    position: relative;

    float: left;

    padding: 11px;

    cursor: pointer;
}
header .menu-icon .nav-icon
{
    position: relative;

    display: block;

    width: 18px;
    height: 2px;

    transition: background .4s ease;

    background: rgba(51, 51, 51, .9);
}
header .menu-icon .nav-icon:before
{
    position: absolute;
    top: 5px;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: all .4s ease;

    background: rgba(51, 51, 51, .9);
}
header .menu-icon .nav-icon:after
{
    position: absolute;
    top: -5px;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: all .4s ease;

    background: rgba(51, 51, 51, .9);
}
header .menu-btn
{
    display: none;
}
header .menu-btn:checked ~ nav ul
{
    visibility: visible;
    overflow: hidden;

    height: 100vh;
}
header .menu-btn:checked ~ .menu-icon .nav-icon
{
    background: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before
{
    top: 0;

    transform: rotate(-45deg);
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after
{
    top: 0;

    transform: rotate(45deg);
}


/* main */
main
{
    width: 100vm;
    min-height: 100vh;
    background-size: cover;
    padding-top: 3em;
}

main .container
{
    padding: 1em;
}

main .container .contact form
{
    display: grid;

    grid-template-columns: 1fr;
    grid-gap: 20px;


}
main .container .contact form label
{
    display: block;
}
main .container .contact form input,
main .container .contact form textarea
{
    width: calc(100% - 2em);
}
main .container .contact form input,
main .container .contact form textarea
{
    font-size: .9rem;

    padding: .7em;

    border: 0;
    border-radius: 5px;
    background: rgba(209, 194, 183, .5);
}
main .container .contact form button
{
    padding: 1em;

    border: none;
    border-radius: 5px;
    background: rgba(209, 194, 183, .5);
}
main .container .contact form button:hover
{
    padding: 1em;

    transition: background-color 2s ease-out;

    border: none;
    border-radius: 5px;
    background: rgba(209, 194, 183, 1);
}

main .container .side
{
    background-image: url('https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
}

main .team
{
    display: flex;
    flex-direction: column;

    height: 60vh;

    text-align: center;

    color: rgb(244, 244, 244);
    background-image: linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)
    ),
    url('https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;

    justify-content: center;
}

/*Footer*/
footer .footer-wrapper
{
    padding: 30px 0 30px 0;

    background: rgb(244, 244, 244);
}
footer .footer-wrapper ul
{
    padding-right: 10px;

    color: rgba(51, 51, 51, .9);
}
footer .footer-wrapper .theme ul li
{
    font-size: .7em;
}

footer .footer-wrapper h2,
footer .footer-wrapper h3
{
    padding-bottom: .6em;
}
footer .footer-wrapper p,
footer .footer-wrapper a
{
    font-size: .7em;

    color: rgba(51, 51, 51, .6);
}
footer .footer-wrapper .global
{
    padding: 30px;
}
hr
{
    width: calc(100% - 60px);
    height: 1px;
    margin: auto;

    border: none;
    background: rgba(51, 51, 51, .6);
}
footer .terms
{
    font-size: .7em;

    padding: 0 30px 30px 30px;

    color: rgba(51, 51, 51, .6);
}
footer .terms .other-stuff ul li
{
    display: inline-block;

    padding-right: 10px;
}
footer .terms .other-stuff ul li a
{
    color: rgba(51, 51, 51, .9);
}
footer .footer-wrapper .inner input
{
    width: calc(100% - 2em);
    margin-bottom: 1em;
    padding: .4em;

    color: rgba(51, 51, 51, .6);
    border: 1px solid rgba(51, 51, 51, .6);
    border-radius: 5px;
}
footer .footer-wrapper .inner button
{
    padding: .4em;

    color: rgba(51, 51, 51, .6);
    border: 1px solid rgba(51, 51, 51, .6);
    border-radius: 5px;
}
footer .footer-wrapper .social-media a
{
    font-size: 30px;

    padding-right: 35px;
}


@media only screen and (min-width: 760px)
{
    html
    {
        font-size: 18px;
    }

    header
    {
        position: fixed;
        z-index: 20;

        display: flex;

        width: calc(100% - 2em);
        padding: 1em;

        background: rgb(244, 244, 244);

        justify-content: space-between;
    }
    header a
    {
        text-decoration: none;

        color: rgb(51, 51, 51);
    }
    header a.logo
    {
        font-weight: bold;

        clear: both;
    }
    header nav ul
    {
        display: flex;
        visibility: visible;

        max-height: none;

        justify-content: space-around;
    }
    header nav ul li a
    {
        display: inline;

        padding: 1em;

        border-bottom: 0;
    }
    header .menu-icon .nav-icon
    {
        display: none;
    }

    /* Main */
    main .team
    {
        height: 70vh;

        background-image: linear-gradient(
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .5)
        ),
        url('https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
    }
    .container
    {
        display: grid;

        width: 70vm;
        margin: auto;

        grid-template-columns: 1fr 1fr;
    }

    .container .contact
    {
        padding: 2em;
    }
    .container .contact form input,
    .container .contact form textarea
    {
        font-size: .9rem;

        border: 0;
        border-radius: 5px;
        background: rgb(244, 244, 244);
    }
    .container .contact form input,
    .container .contact form textarea
    {
        width: 50vm;
    }

    /*Footer*/
    footer
    {
        width: 70vw;
        margin: auto;
    }
    footer .footer-wrapper
    {
        display: grid;

        padding: 30px 0 30px 0;

        background: rgb(244, 244, 244);

        grid-template-columns: 3fr 2fr 2fr 3fr;
        grid-gap: 10px;
    }
    footer .footer-wrapper ul
    {
        font-size: 20px;

        padding-right: 10px;
    }
    footer .footer-wrapper h2,
    footer .footer-wrapper h3
    {
        padding-bottom: .6em;
    }
    footer .footer-wrapper p,
    footer .footer-wrapper a
    {
        font-size: .7em;

        color: rgba(51, 51, 51, .6);
    }
    footer .footer-wrapper .global
    {
        padding: 30px;
    }
    footer hr
    {
        display: none;
    }
    footer .terms .text br
    {
        display: none;
    }
    footer .terms
    {
        font-size: .7em;

        display: flex;

        padding: 0 30px 30px 30px;

        color: rgba(51, 51, 51, .6);

        justify-content: space-between;
    }
    footer .terms .other-stuff ul li
    {
        display: inline-block;

        padding-right: 10px;
    }
    footer .terms .other-stuff ul li a
    {
        color: rgba(51, 51, 51, .9);
    }
    footer .footer-wrapper .inner input
    {
        width: calc(100% - 2em);
        margin-bottom: 1em;
        padding: .1em;

        color: rgba(51, 51, 51, .6);
        border: 1px solid rgba(51, 51, 51, .6);
        border-radius: 5px;
    }
    footer .footer-wrapper .inner button
    {
        padding: .1em;

        color: rgba(51, 51, 51, .6);
        border: 1px solid rgba(51, 51, 51, .6);
        border-radius: 5px;
    }
    footer .footer-wrapper .social-media a
    {
        font-size: 20px;

        padding-right: 10px;
    }
}
@media only screen and (min-width: 1444px)
{
}
@media only screen and (min-width: 1800px)
{
    html
    {
        font-size: 21px;
    }
}
