/* Styles de base */
*
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: 0;
    background: transparent;
}
html
{
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
    font-weight: 100;
}
body
{
    font-size: 1.2rem;
    line-height: 1.5;

    margin: auto;

    text-decoration: none;

    color: rgb(51, 51, 51);
    background: rgb(244, 244, 244);

    height: 100%;
    display: none;
}



header {
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content:space-between;
    width: calc(100% - 2em);
    background: rgb(244, 244, 244);
}
header a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
header a.logo {
    font-weight: bold;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}
header nav ul li a {
    padding: 1em;
}



.container {
    display: grid;
    grid-template-columns: auto;
}
.container section {
    padding: 2em;
}
.container section h1, h2, .explore {
    text-transform: uppercase;
    margin: 0;
}
.container section h2 {
    font-size: 1.4rem;
}
.container section .explore {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    background: url("images/play-button.svg") no-repeat 0 5px;
    background-size: 12px;
    padding-left: 1em;
}
.container section .primary {
    padding: 1.5em 1.5em 1.5em calc(3em + 25px);
    background-position: 3em;
    border: 1px Solid rgb(51, 51, 51);
    border-left-style: none;
    display: inline-block;

    margin-top: 3em;
    margin-left: -2em;
}
.container section .main-wrapper {
    overflow: hidden;
}
.container section .main-wrapper h2 {
    padding: 10px 0;
}
.container section.main {
    padding-top: 8em;
    background: url("images/main.jpg");
    background-size: cover;
}
.container section.main p {
    width: 70%;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.container section.main h1 {
    font-size: 2.7rem;
}
.container section.sidebar, section.subscribe {
    font-size: .9rem;
    line-height: 1.5em;
}
.container section.sidebar {
    color: rgb(51, 51, 51);
    background: rgba(209, 194, 183, 0.5);
}
.container section.sidebar .explore {
    margin-top: 1em;
    display: block;
}
.container section.subscribe {
    color: rgba(209, 194, 183, 1);
    background: rgba(51, 51, 51, 0.9);
}
.container section.subscribe p {
    padding: 3px;
}
.container section.subscribe input {
    background: rgba(209, 194, 183, 1);;
    width: calc(100% - 2em);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 0;

}
.container section.subscribe button {
    width: 100%;
    background: rgba(209, 194, 183, 1);;
    padding: 1em;
    border: none;
    border-radius: 5px;
}

@media only screen and (min-width: 760px) {
    html {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1444px) {
    header {
        background: none;
    }
    .container {
        grid-template-columns: 70% auto;
        grid-template-rows: 60% auto;
        grid-template-areas:
                "main featured"
                "main subscribe";
        height: 100vh;
    }
    section.main {
        grid-area: main;
    }
    section {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
    }
}

@media only screen and (min-width: 1800px) {
    html {
        font-size: 21px;
    }
}



